<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated CoffeeModeling -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="CoffeeModeling.presentation.CoffeeModelingModelWizardID"
            name="%_UI_CoffeeModelingModelWizard_label"
            class="CoffeeModeling.presentation.CoffeeModelingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CoffeeModelingModelFile.gif">
         <description>%_UI_CoffeeModelingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated CoffeeModeling -->
      <editor
            id="CoffeeModeling.presentation.CoffeeModelingEditorID"
            name="%_UI_CoffeeModelingEditor_label"
            icon="icons/full/obj16/CoffeeModelingModelFile.gif"
            extensions="coffeemodeling"
            class="CoffeeModeling.presentation.CoffeeModelingEditor"
            contributorClass="CoffeeModeling.presentation.CoffeeModelingActionBarContributor">
      </editor>
   </extension>

</plugin>
